<h1>
    Hello There Sailor
</h1>
<p>
    Find me in app/views/welcome/index.html.erb
</p>
<br/>
<br/>

<div id="aboutPageButton" class="routingClass">
    About Page
</div>

<br/>
<br/>

<input id='inputField1'/>
<br/>
<input id='inputField2'/>

<br/>

<button id='buttonPOST'>
    post
</button>

<button id='buttonGET'>
    get
</button>

<br/>
<h2>
    Here is the value of the returned results: 
</h2>
<div id='listReturn'/>